<section class="news">
    <article class="card" *ngFor="let article of newsData">
        <h4 class="has-tooltip tooltip">{{article.title}} <span class="tooltip-wrapper"><span class="tooltip">Tooltip</span></span>
        </h4>
        <p class="date">{{article.date}}</p>
        <div class="article-img">
            <img [src]="article.imageUrl" [alt]="article.title">
        </div>
        <p>{{article.description}}</p>
        <a class="read-more" [href]="article.descriptionUrl">Read More</a>
    </article>
</section>