<section class="table-container">
    <table class="fl-table">
        <thead>
            <tr>
                <th>
                    <h2>Id</h2>
                </th>
                <th>
                    <h2>Start Point</h2>
                </th>
                <th>
                    <h2>End Point</h2>
                </th>
                <th>
                    <h2>Date</h2>
                </th>
                <th>
                    <h2>Free seats</h2>
                </th>
                <th>
                    <h2>Place for luggage</h2>
                </th>
                <th>
                    <h2>Price</h2>
                </th>
                <th>
                    <h2>Details</h2>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let trip of tripsRecords">
                <td>
                    {{trip.id}}
                </td>
                <td>
                    {{trip.startPoint}}
                </td>
                <td>
                    {{trip.endPoint}}
                </td>
                <td>
                    {{trip.date}}
                </td>
                <td>
                    {{trip.freeSeats}}
                </td>
                <td>
                    {{trip.placeForLuggage}}
                </td>
                <td>
                    {{trip.price}}
                </td>
                <td>
                    <button>View</button>
                </td>
            </tr>
        </tbody>
    </table>
</section>
<div class="pagination">
    <a *ngFor="let number of recordsPages" (click)="pageHandler($event)" [attr.data-page]="[number]">{{number}}</a>
</div>