* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.table-container {
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--text);
    padding: 1rem 0;
}


/* Table Styles */

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: var(--action-trans);
}

.fl-table td,
.fl-table th {
    text-align: center;
    padding: 1.2rem 1rem;
}

.fl-table td {
    border-right: 1px solid var(--dark);
    font-size: 12px;
    font-weight: 600;
}

.fl-table thead th {
    color: var(--text);
    background: var(--action);
}

.fl-table thead th:nth-child(odd) {
    color: var(--text);
    background: var(--dark);
}

.fl-table tr:nth-child(even) {
    background: var(--dark-trans);
}

tbody tr>td:last-child {
    border: none;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: auto;
}

.pagination a {
    color: var(--text);
    font-weight: 600;
    background-color: var(--action-trans);
    margin: 1px;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a:hover {
    color: var(--action);
    background-color: var(--dark-trans);
}

.search {
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#refresh {
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    padding: 12px;
    border-radius: 50px;
    font-size: 12px;
    background-color: var(--text);
    font-weight: 500;
    margin-top: 20px;
    color: var(--action);
    width: 31%;
    transition: all .2s ease-in-out;
}

#refresh:hover {
    transform: scale(1.1);
}

#searchTerm {
    padding: 12px;
    width: 70%;
    border-radius: 16px;
    border: 3px solid var(--text);
    background-color: var(--action-trans);
    color: var(--text);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
}

#searchTerm::placeholder {
    color: var(--text);
    opacity: 0.7;
}