footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 2px;
    background-color: var(--dark-trans);
    color: var(--action);
}

a {
    text-decoration: none;
    color: var(--blue);
    font-weight: 600;
}