<section class="profile">
    <section class="user-info">
        <div class="img-container">
            <img [src]="profile.avatarUrl ">
        </div>
        <app-user-info *ngIf="!editMode" [profile]="profile"></app-user-info>
        <app-user-profile-edit *ngIf="editMode" [profile]="profile"></app-user-profile-edit>
        <button *ngIf="!editMode" class="edit" (click)="toggleEdit()">Edit</button>
    </section>
    <section class="trips">
        <div class="trip-card" *ngFor="let trip of profile.trips">
            <div class="car-img-container">
                <img [src]="trip.carImageUrl">
            </div>
            <div class="trip-info">
                <h5>{{trip.startPoint}} -> {{trip.endPoint}} on {{trip.date}}</h5>
                <h6>Seats: {{trip.freeSeats}} | Price : {{trip.price}} | Luggage {{trip.placeForLuggage}}</h6>
                <p>{{trip.description}}</p>
                <a [routerLink]="['/trips/details/', trip.id]">Details</a>
            </div>
        </div>

    </section>
</section>