<section class="table-container">
    <input (keyup)="onKey($event)" type="text" name="search" placeholder="Enter a search term ..." #search id="searchTerm">
    <button (click)="refresh()" id="refresh">Clear&Refresh</button>
    <a [routerLink]="['/trips/create']" id="create">Create</a>
    <table class="fl-table">
        <thead>
            <tr (click)="sortData($event)">
                <th>
                    Id
                </th>
                <th>
                    Start Point
                </th>
                <th>
                    End Point
                </th>
                <th>
                    Date
                </th>
                <th>
                    Free seats
                </th>
                <th>
                    Place for luggage
                </th>
                <th>
                    Price
                </th>
                <th>
                    Details
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let trip of tripsRecords">
                <td>
                    {{trip.id}}
                </td>
                <td>
                    {{trip.startPoint}}
                </td>
                <td>
                    {{trip.endPoint}}
                </td>
                <td>
                    {{trip.date | date}}
                </td>
                <td>
                    {{trip.freeSeats}}
                </td>
                <td>
                    {{trip.placeForLuggage | boolean}}
                </td>
                <td>
                    {{trip.price}}
                </td>
                <td>
                    <button>View</button>
                </td>
            </tr>
        </tbody>
    </table>
</section>
<div class="pagination">
    <a *ngFor="let number of recordsPages" (click)="onPageClick($event)" [attr.data-page]="[number]">{{number}}</a>
</div>