<nav id="nav">
    <section class="logo">
        <a class="logo-link" [routerLink]="['/']">
            <h1 class="logo">Shared<span>Trip <i class="fas fa-car"></i></span></h1>
        </a>
    </section>
    <section class="navi">
        <ul class="navi-list">
            <li class="navi-item" *ngIf="isLogged">
                <a [routerLink]="['./trips/all']">Trips</a>
            </li>
            <li class="navi-item" *ngIf="isLogged">
                <a [routerLink]="['./news/all']">News</a>
            </li>
            <li class=" navi-item " *ngIf="isLogged">
                <a [routerLink]="['./chat']">Chat</a>
            </li>
            <li class="navi-item ">
                <a [routerLink]="['./profile']" *ngIf="isLogged">Profile</a>
            </li>
            <li class="navi-item ">
                <a [routerLink]="['./']" (click)="logout()" *ngIf="isLogged">Logout</a>
            </li>
            <li class="navi-item ">
                <a [routerLink]="['./login']" *ngIf="!isLogged">Login</a>
            </li>
            <li class="navi-item ">
                <a [routerLink]="['./register']" *ngIf="!isLogged">Register</a>
            </li>
        </ul>
    </section>
</nav>