#nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem;
}

.logo-link {
    text-decoration: none;
}

.logo {
    width: 50%;
}

.logo-link>h1 {
    text-align: center;
    font-weight: 800;
    color: var(--text);
    font-size: 1.8rem;
    letter-spacing: 2px;
    text-shadow: 1px 1px 4px #000000;
    transition: all .2s ease-in-out;
}

.logo-link>h1:hover {
    transform: scale(1.1);
}

.logo-link>h1>span {
    color: var(--action)
}

.navi {
    width: 40%;
}

.navi-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navi-item {
    list-style: none;
}

.navi-item a {
    color: var(--text);
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
}

.navi-item {
    display: inline-block;
    position: relative;
    color: var(--blue);
    padding: 5px;
    transition: all .2s ease-in-out;
}

.navi-item:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: var(--action);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navi-item:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navi-item:hover {
    transform: scale(1.1);
}