<section class="home">
    <h2 class="home-head">Lorem ipsum dolor sit amet.</h2>
    <br>
    <br>
    <p class="home-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt enim, laboriosam magnam deleniti illo reiciendis voluptas eum ipsum hic itaque.</p>
    <br>
    <br>
    <p class="home-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam eligendi ea reprehenderit nulla nisi perspiciatis minus unde incidunt earum nostrum? Nesciunt expedita cumque molestiae quidem repudiandae sit corrupti quod veniam!</p>
    <section class="auth">
        <section class="log">
            <span>Login to contininue</span>
            <button id="login">Login</button>
        </section>
        <section class="reg">
            <span>Join our community</span>
            <button id="register">Register</button>
        </section>
    </section>
</section>