<div class="container">
    <section class="create-trip-form">
        <h4>You are going to travel?! Find company!</h4>
        <form id="create" [formGroup]="createTripForm" (ngSubmit)="createTrip()" action="#">
            <div class="field">
                <label for="startPoint">Start Point:</label>
                <input placeholder="Start Point..." type="text" formControlName="startPoint">
            </div>
            <div class="field">
                <label for="endPoint">End Point:</label>
                <input placeholder="End Point..." type="text" formControlName="endPoint" minlength="6">
            </div>
            <div class="field">
                <label for="date">Date:</label>
                <input placeholder="When are you travelling.." type="date" formControlName="date">
            </div>
            <div class="field">
                <label for="freeSeats">Free Seats:</label>
                <input placeholder="Number of free passanger seats" type="number" formControlName="freeSeats">
            </div>
            <div class="field">
                <label for="placeForLuggage">Place for luggage:</label>
                <input type="checkbox" formControlName="placeForLuggage">
            </div>
            <div class="field">
                <label for="price">Price:</label>
                <input placeholder="Price for fuel.." type="number" formControlName="price">
            </div>
            <div class="field">
                <label for="carImageUrl">Image of the car:</label>
                <input type="text" formControlName="carImageUrl">
            </div>
            <div class="field">
                <label for="description">More information:</label>
                <textarea rows="4" type="text" formControlName="description"></textarea>
            </div>
            <button type="submit" id="submitBtn">Submit new Trip</button>
        </form>
    </section>
</div>